
/*================================= comoon css =================================*/
body {
  font-family: 'Roboto', sans-serif;
	touch-action: manipulation;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	background: #ffffff;
  overflow-x: hidden;
  color:#151515;
  }
  .text_orenge, a.btn_login{
    color:#f69126;
  }
  .bg_orenge{
    background-color:#f69126;
  }
  .bg_black{
    background-color:#2b2421;
  }
  .text_black, .module_heading h2, .price {
    color: #222;
}
.checkout_heading .r_name{
  line-height:0;
}
.text-light{
  color:#686b78 !important;
}
.extra-smll{
  font-size: 12px;
}
.container{
	max-width: 1180px;
}  
p, h1, h2, h3, h4, h5, h6{
  margin-bottom:0px;
  font-family: 'Roboto', sans-serif;
}
/* -- FLOATING LABEL CSS START -- */
input:placeholder-shown ~ .form-control-placeholder, 
textarea:placeholder-shown ~ .form-control-placeholder{
    top: 5px;
     color: #838282;
     font-size: 15px;
     font-weight: 300;
     margin-bottom: 0;
}
 input ~ .form-control-placeholder, 
 .form-control:focus ~ .form-control-placeholder, 
 textarea ~ .form-control-placeholder, 
 textarea.form-control:focus ~ .form-control-placeholder {
    position: absolute;
     transition: all 0.2s linear;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     top:-15px;
     font-size: 13px;
     margin-left: 0;
     color: #f69126;
	 font-weight: 300;
	 text-transform: capitalize;
}
input:placeholder-shown ~ .form-control-placeholder, textarea:placeholder-shown ~ .form-control-placeholder {
  top: 5px;
  color: #838282;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}
input[type="text"], input[type="tel"], input[type="password"], input[type="date"], input[type="email"], input[type="number"], textarea {
  background: #fff;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  color: #000;
  padding: 10px 0px;
}
.form-group {
  position: relative;
}
/* -- FLOATING LABEL CSS END -- */
/* custom chekbox */
/* The container */
.custom_check {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
  color: #838282;
}

/* Hide the browser's default checkbox */
.custom_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
.custom_check input:checked ~ .checkmark {
  background-color: #f69126;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom_check .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* custom scroll */
  ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
  }
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #fff;
	border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#7f7f7f;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
  /* custom scroll */

  p {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.04;
    margin-bottom: 16px;
    color: #767676;
    line-height: 30px;
    font-weight: 500;
  }
h1:hover,  h1 span{
  color: #151515;
  transition: color .3s,-webkit-text-stroke .3s;
}
.font-small{
  font-size: 14px;
}
  /* heading css */
  button:focus {
	outline: none;
  }
  a,
  a:hover,
  button,
  button:hover, .indus_block, .indus_block:hover, .form-group input, .form-group input:focus {
	transition: all 0.5s ease 0s !important;
  }
/* custom theme */
img.shape_login_1 {
  position: absolute;
  bottom: 0;
  width: 130PX;
}
.top_banner {
  height: 100vh;
}
h1 {
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  transition: color .3s,-webkit-text-stroke .3s;
  font-size: 45px;
  font-family: 'Century Gothic' !important;
  margin:0px;
}
.btn_group.header {
  text-align: right;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.btn_group.header a {
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}
a.btn_signup {
  background: #f69126;
  color: #fff;
  padding: 3px 35px;
  border-radius: 30px;
}
.btn_login {
  color: #2b2421;
}
.front-content .right_content {
  background-image: url(../images/banner.webp);
  height: 100vh;
  background-position: center;
    position: absolute;
    height: 100%;
    width: 45%;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    top:0;
}
.front-content  .right_col {
  position: static!important;
}
.full_page.front-content span {
  letter-spacing: 2.6px;
  font-size: 15px;
  color: #f69126;
  font-weight: 700;
}
.full_page.front-content .block_content {
  position: relative;
  z-index: 99;
}
.full_page.front-content .block_content h1 {
  margin: 0px 0px 20px;
}
img.btn-arrow {
  width: 40px !important;
  height: 32px;
  position: absolute;
  right: 3px;
  object-fit: contain;
  top: 8px;
}
.food_btn {
  background: #f69126;
  color: #fff;
  padding: 17px 90px 17px 25px;
  border-radius: 30px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
}
.suitable_block .food_btn {
  border-color: #fff;
}
.row.align-items-center.top_row {
  height: 100%;
}
.offer_block a.food_btn {
  position: absolute;
  bottom: 30px;
  z-index: 99;
  left: 30px;
}
img.ab_img {
  position: absolute;
  bottom: 0;
  z-index: 9;
  right: 0;
  object-fit: contain;
  width: auto;
}
.banner_img_block img {
  width: 100%;
}
.full_page.front-content.position-relative.home_banner.top_banner {
  height: auto;
}
/*================================= 4 Global Styles (#glob) =================================*/
.page-content {
  padding-top: 108px;
}
.section-spacer{
  padding:60px 0px;
}
.logo_heading img {
  width: 80px;
  object-fit: contain;
  margin-right: 7px;
  height: 80px;
}
.navbar-nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  outline: 0;
  transition: all ease-in-out .15s;
  color: rgba(24,24,21,.5)!important;
  font-family: "Source Sans Pro",sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
  letter-spacing: 0.1em!important;
  padding: 0 20px!important;
  font-size: 15px!important;
}
.magnet-button {
  display: inline-flex;
  white-space: nowrap;
  color: #fff;
  background: #ed184f;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
     font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 9px 30px;
  letter-spacing: .1em;
  border:1px solid #ed184f
}
button.magnet-button {
  width: 178px;
  height: 52px;
  display: flex;
  align-items: center;
}
.magnet-button:hover{
  border-color: #151515;
  color:#151515;
  background:transparent;
}
.fixed-top{
  z-index: 999;
  background: #fff;
}
.custom-header.sticky .navbar {
  -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}
.module_heading p, .module_heading a {
  font-size: 14px;
}
.module_heading h2{
  font-size: 30px;
  font-weight: 600;
}
.row.align-items-center.top_row .col-md-6 {
  height: 100%;
}
.section_heading h3{
  font-weight: 800;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Century Gothic' !important;
}
.suitable .block_header {
  color: #151515;
}
.suitable_block h4 {
  font-size: 25px;
  font-weight: 600;
}
.suitable_block .img_block {
  width: 50px;
  height: 50px;
  background: #f69126;
  padding: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.suitable_block .img_block  img{
  width: 30px;
  height: 30px
}
.suitable_block {
  display: flex;
}
.call_action_block {
  background: #fbf7f4;
}
.call_action_block {
  background: #fbf7f4;
  border-radius: 58px;
  padding: 70px 30px 70px 15px;
}
.call_action_block h5 {
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: 700;
}
.call_action_block p {
  font-size: 14px;
  line-height: 25px;
}
.call_action_block .img_group {
  position: absolute;
  top: -160px;
}
.call_action_block a.food_btn {
  padding: 15px 30px;
}
a.food_btn.call {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
a.food_btn.call img {
  width: 20px;
  height: 20px;
}
.custom_footer{
  background-color:#1a1a1a;
}
.footer_logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.social_icons a i:before {
  color: #fff;
  font-size: 14px;
}
.social_icons a i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border: 1px solid #5a5a5a;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.bredcrumb {
  background-image: url(../images/banner.png);
  background-size: 100%;
}
.bredcrumb h5 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  padding: 7px 35px;
  line-height: 1.2;
}
.bredcrumb h3 {
  font-size: 50px;
}
.listing_block img {
  object-fit: contain;
  width: 100%;
}
.listing_block .img_block{
  background: #eef0f5;
  position: relative;
  margin-bottom: 20px;
}
.listing_block .img_block:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(40,44,63,.05);
  content: "";
  background-blend-mode: overlay;
}
.listing_block h6 {
  font-size: 16px;
  font-weight: 600;
  word-break: break-word;
}
.listing_block p {
  color: #686b78;
  font-size: 13px;
  margin: 0;
}
ul.list li {
  color: #535665;
  font-size: 13px;
  list-style:none;
  margin: 0;
  line-height: 0 !important;
}
ul.list {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px !important;
}
.rating {
  padding: 4px 5px;
  font-size: 10px;
  color: #fff;
  border-radius: 5px;
}
.rating.law{
  background: #f69126;
}
.rating.high{
  background: #48c479;
}
.quick_view {
  font-size: 13px;
  font-weight: 700;
  color: #f69126;
  text-align: center;
  display: block;
  border-top: 1px solid #e1e1e1;
  padding: 10px 0px;
  opacity: 0;
}
.list_footer p {
  padding: 11px 0px;
  border-top: 1px solid #e1e1e1;
}
.listing_block:hover .quick_view {
  opacity: 1;
}
.listing_block{
  background: #fff;
  padding: 10px;
}
.listing_block:hover{
  box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
}
.list_footer p {
  padding: 11px 0px;
  border-top: 1px solid #e1e1e1;
  color: #8a584b;
}
.flex-content .img_block {
  width: 254px;
}
.flex-content img {
  width: 100%;
}
.bredcrumb.detail .flex_block_content {
  margin-left: 30px;
}
.category, .add{
  opacity: .7;
}
.bredcrumb.detail  p {
  font-size: 14px;
  opacity: 0.7;
  text-transform: capitalize;
  margin: 0;
}
.bredcrumb.detail  span {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.bredcrumb.detail h6 {
  font-size: 30px;
  font-weight: 600;
}
.food_type:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon_veg {
  border: 2px solid #0f8a65;
}
.icon_veg:after{
  background: #0f8a65;
}
.food_type{
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
}
#myform {
  text-align: center;
  padding: 5px;
  border: 1px dotted #ccc;
  margin: 2%;
}
.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}
input.qtyplus, input.qtyminus { 
  width: 93px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: #0f8a65;
}
input.qty {
  color: #0f8a65;
}
input.qtyplus {
  font-size: 17px;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid #d4d5d9;
  height: 36px;
}
.quantity input {
  border: 0;
  background-color:transparent;
}
button.add-btn {
  border: 1px solid #d4d5d9;
  box-shadow: none;
  background: #fff;
  font-size: 14px;
  text-align: center;
  color: #0f8a65;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  width: 100px;
  height: 36px;
}
.quantity, .add_item.show-quntity button.add-btn {
  position: absolute;
display:none;
}
.add_item {
  position: relative;
}
.add_item.show-quntity .quantity {
  display:flex;
}
li{
  list-style:none;
}
.food_heading h5 {
  margin: 0;
  font-size: 32px;
  letter-spacing: -.3px;
  font-weight: 600;
  line-height: 35px;
}
.no_of_item{
  padding-bottom: 30px;
  font-size: 13px;
  color: #686b78;
  font-weight: 500;
  text-transform: uppercase;
}
.food_block {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d5d9;
}
.item_detil{
  justify-content: space-between;
}
.food_name{
  line-height: normal;
}
.cart_block .food_name{
  padding-left: 10px;
}
.cart_block_heading h6 {
  font-size: 32px;
  font-weight: 600;  
  line-height: 32px;
}
.cart_block_heading{
padding-bottom: 18px;
}
.btn_checkout, .btn_checkout:hover {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #60b246;
  color: #fff;
  font-weight: 800;
  margin-top: 28px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.cart_footer h5 {
  font-weight: 600;
  line-height: 0;
}
  .food_name h4 {
    font-size: 17px;
  }
.checkout_heading img {
  width: 70px !important;
  height: 70px !important;
  object-fit: contain;
  margin-right: 20px;
  object-position: top;
  position: relative;
  top: 5px;
}
.r_name h4 {
  font-size: 16px;
  font-weight: 600;
}
.bill p {
  font-size: 13px;
  line-height: 17px;
}
.bill h6 {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 10px;
  color: #282c3f;
}
.tax {
  padding: 15px 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.pay {
  padding: 15px 0px;
  border-top: 2px solid #f69126;
}
.checkout-content {
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
}
.food_listing .cart_block {
  transform: translateX(1000%);
  -moz-transition: all .10s;
    -o-transition: all .10s;
    -webkit-transition: all .10s;
    transition: all .10s;
    position: absolute;
    top: 0;
    transform: translateX(1000%);
    width:100%;
}
.food_listing.cart .cart_block {
  transform: unset;
  -moz-transition: all .10s;
    -o-transition: all .10s;
    -webkit-transition: all .10s;
    transition: all .10s;
}
.food_listing .cart_empaty h6 {
  color: #7e808c;
  letter-spacing: -.3px;
  font-size: 32px;
}
.food_listing .cart_empaty p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.food_listing.cart  .cart_empaty{
  opacity: 0;
  position: relative;
  z-index: -1;
}
/*=================================== media query css ===================================*/

  @media only screen and (min-width: 300px) and (max-width: 767px) {   
    .front-content .right_content {
      display: none;
  }
  .row.align-items-center.top_row .col-md-6 {
    height: auto;
}
    .full_page.front-content span, .btn_group.header a{
      font-size: 12px;
    } 
    .suitable_block h4{
      font-size: 12px;
    }
    h1{
      font-size: 18px;
    }
    p{
      font-size: 13px;
      line-height: 20px;
    }
    .offer_block.left img {
      width: 100%;
  }
  .food_btn{
    font-size: 12px;
    padding: 6px 35px 6px 12px;
  }
  img.btn-arrow{
    width: 15px !important;
    height: 15px !important;
    right: 5px;
    top: 5px;
  }
  img.ab_img{
    width: 50px !important;
  }
  .offer_img_block, .offer_block.left img {
    height: 100%;
  }
  .section-spacer {
    padding: 30px 0px;
}
.call_action_block .img_group {
  position: absolute;
  top: -168px;
  right: 0;
}
.call_action_block .img_group img{
  width: 150px !important;
  height: 150px !important;
  object-fit: contain;
}
.call_action_block h5{
  font-size: 30px;
}
a.food_btn.call{
  font-size: 13px;
}
.offer_block a.food_btn{
  bottom: 10px;
  left: 10px;
}
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
   
  }
  @media only screen and (min-width: 991px) and (max-width: 1024px) {

  }

  